/* MAIN STYLES */

.container {
  width: calc(100% - 20px);
  max-width: 840px;
  padding: 50px 10px;
  margin: 0 auto;
}

h1, h2, h3, a {
  font-weight: 400;
  margin: 10px 0 5px 0;
  color: #ffffff;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

hr {
  width: 100px;
  border: 2px solid #2b2b2b;
  margin: 20px 0 30px 0;
}

.red {
  color: #aa0000;
}

.green {
  color: #00aa00;
}

.blue {
  color: #0000aa;
}

header {
  height: 100vh;
  width: calc(100%-20px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(../assets/fabric.jpg);
  background-size: cover;
}

header h1, header h2, header a, header hr {
  position: relative;
  bottom: 0vh;
  /*animation-name: slideUp;*/
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
    from {bottom: 100vh;}
    to {bottom: 0;}
}

header h1 {
  font-size: 40px;
  margin: 0;
  animation-delay: 1s;
}

header h2 {
  font-size: 20px;
  margin: 5px 0;
  animation-delay: 0.8s;
}

header hr {
  animation-delay: 0.5s;
}

header a {
  font-size: 15px;
  margin: 10px 15px 0 0;
  animation-delay: 0.25s;
}

#content {
  background-color: #ffffff;
}

#content .wrap:nth-child(2n-1) {
  background-color: #f1f1f1;
}

#about a {
  color: #aa0000;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
}

.project-container a {
  margin: 0;
}

.folder {
  min-height: 140px;
  min-width: 140px;
  max-height: 140px;
  max-width: 140px;
  margin: 10px;
  padding: 10px;
  background-color: #0000aa;
  display: block;
}

.folder:hover {
  background-color: #000077;
}

.folder h5 {
  color: #ffffff;
  margin: 10px 0;
}

.folder h6 {
  color: #ffffff;
  margin: 10px 0;
  word-wrap: normal;
}

.folder hr {
  width: 100px;
  border: 2px solid #ffffff;
  margin: 2px 0 3px 0;
}

#project-page {
  background-color: #f1f1f1;
}

#project .container {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 50px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#project h3 {
  font-weight: 700;
  margin-top: 30px;
  font-size: 22px;
}

.projectIMG {
  padding: 10px;
  background-color: #0000aa;
  border: 2px solid #0000aa;
}

.projectIMG img {
  width: 100%;
}

.projectIMG p {
  color: #ffffff;
  font-weight: 700;
}

.back {
  background-color: #f1f1f1 !important;
  box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
  padding: 10px !important;
}

.back a {
  color: #0000aa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.demo {
  text-align: center;
}

.demo a {
  text-decoration: none;
  font-size: 22px;
  background-color: #0000ff;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 750px) {
  header h1 {
    font-size: 4vw;
  }
  header h2 {
    font-size: 2vw;
  }
  header a {
    font-size: 1.5vw;
  }
  .project-container .folder {
    max-height: 230px;
    max-width: 230px;
    min-height: 230px;
    min-width: 230px;
  }
}

#notification {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #2b2b2b;
  border: 2px dashed #ffcc00;
}

#notification .container {
  padding: 0px;
}

#notification p {
  margin: 0;
  color: #ffffff;
  float: left;
  padding: 5px;
}
