nav {
  background-color: #2c4b81 !important;
}

nav a {
  color: #ffffff !important;
}

header {
  margin-top: 54px;
}

.carousel-item {
  justify-content: center;
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
}

.d-block {
  height: 400px;
}

.carousel-1 {
  background-image: url(http://placehold.it/1000x400);
}

.carousel-2 {
  background-image: url(http://placehold.it/1000x400);
}

.carousel-3 {
  background-image: url(http://placehold.it/1000x400);
}

.wrap {
  padding: 25px 0;
}

#welcome h1 {
  text-align: center;
}

@media (min-width: 0px) and (max-width: 580px) {
  .nav-container {
      width: 540px !important;
      max-width: 100% !important;
}
